---
Checks:     '
            bugprone-*,
            clang-analyzer-*,
            google-*,
            modernize-*,
            performance-*,
            portability-*,
            readability-*,
            -bugprone-easily-swappable-parameters,
            -bugprone-implicit-widening-of-multiplication-result,
            -bugprone-narrowing-conversions,
            -bugprone-reserved-identifier,
            -bugprone-signed-char-misuse,
            -bugprone-suspicious-include,
            -bugprone-unhandled-self-assignment,
            -clang-analyzer-cplusplus.NewDelete,
            -clang-analyzer-cplusplus.NewDeleteLeaks,
            -clang-analyzer-security.insecureAPI.rand,
            -clang-diagnostic-implicit-int-float-conversion,
            -google-readability-avoid-underscore-in-googletest-name,
            -google-readability-braces-around-statements,
            -modernize-avoid-c-arrays,
            -modernize-use-nodiscard,
            -readability-convert-member-functions-to-static,
            -readability-identifier-length,
            -readability-identifier-naming,
            -readability-function-cognitive-complexity,
            -readability-magic-numbers,
            -readability-make-member-function-const,
            -readability-qualified-auto,
            -readability-redundant-access-specifiers,
            -readability-isolate-declaration,
            -readability-braces-around-statements,
            -bugprone-exception-escape,
            -modernize-use-trailing-return-type,
            -google-runtime-int
            '
WarningsAsErrors: '*'