[submodule "hot100/rust"]
	path = problem-sets/leetcode-hot100/rust
	url = git@github.com:byrzhm/leetcode-hot100-rust.git
[submodule "hot100/python"]
	path = problem-sets/leetcode-hot100/python
	url = git@github.com:byrzhm/leetcode-hot100-python.git
