# 忽略无后缀的可执行文件
*
!*/
!*.*

# 忽略后缀为txt, out, in的文件
# 一般用作重定向输入输出
*.txt
*.out
*.in

# 不追踪shell脚本, 以及bat脚本
*.sh
*.bat

# 忽略_开头的文件
_*

# vscode的cph插件自动产生的文件夹
.cph/

# java
*.class

# See https://www.coursera.org/learn/algorithms-part1/programming/37IH3/hello-world
algs4-princeton/helloworld/
*.zip

# shell problem
!shell/*.sh