[submodule "hot100/rust"]
	path = problem-sets/leetcode-hot100/rust
	url = git@github.com:byrzhm/leetcode-hot100-rust.git
[submodule "problem-sets/go-algo"]
	path = problem-sets/go-algo
	url = git@github.com:byrzhm/go-algo.git
[submodule "problem-sets/algs4-princeton-py"]
	path = problem-sets/algs4-princeton-py
	url = git@github.com:byrzhm/algs4-princeton-py.git
